h1 {
    font-size: 1.65rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: normal;

}
h2 {
    font-size: 1.35rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
}
h3 {
    font-size: 1.15rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-weight: normal;
}
h4 {
    font-size: 0.75rem;
    font-weight: normal;
    margin: 0;
}
h5 {
    font-size: 0.5rem;
    font-weight: normal;
    margin: 0;
}


.separator {
    width: 80%;
    border: 2px solid #e0e0e0;
    margin-bottom: 1rem;
}
.content {
    padding-left: 10px ;
    padding-bottom: 100px;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #eee;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100vw;
    text-align: center;
    display: inline-block; /* Ajoute ce style pour qu'il s'ajuste à la largeur du contenu */
    box-sizing: border-box; /* Pour prendre en compte padding et bordures dans la largeur */
}

.search_bar {
    position: fixed;
    top: 0;
    right: 0;
    background: #eee;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    text-align: center;
    display: inline-block; /* Ajoute ce style pour qu'il s'ajuste à la largeur du contenu */
    box-sizing: border-box; /* Pour prendre en compte padding et bordures dans la largeur */
    align-items: center;
    border-radius: 5px;
}
.search_bar input {
    padding: 5px;
    border-radius: 5px;
}
.search_bar button {
    padding: 5px;
    border-radius: 5px;
}
.high_light {
    background-color: rgba(255, 255, 0, 0.5);
}

a {
    word-wrap: break-word; /* Pour couper les mots longs qui ne peuvent pas être divisé */
    overflow-wrap: break-word; /* Alternative moderne pour gérer les longs mots */
    word-break: break-word; /* Pour éviter qu'un mot trop long dépasse */
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    text-decoration: none;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI';
    background-color: aliceblue;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

@media (min-width: 700px) {
    html {
        font-size: 20px;
    }
}

@media (max-width: 700px) {
    html {
        font-size: 27.5px;
    }
}